.tg-barking-testimonial a:not([class*="tg-element-"]),
.tg-barking a:not([class*="tg-element-"]),
.tg-barking-testimonial a:not([class*="tg-element-"]):active,
.tg-barking a:not([class*="tg-element-"]):active,
.tg-barking-testimonial a:not([class*="tg-element-"]):focus,
.tg-barking a:not([class*="tg-element-"]):focus,
.tg-barking-testimonial [class*="tg-element-"] *:not(del),
.tg-barking [class*="tg-element-"] *:not(del) {
  margin: 0;
  padding: 0;
  color: #eae5b2 !important;
  text-align: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.tg-barking-testimonial [class*="tg-element-"],
.tg-barking [class*="tg-element-"],
.tg-barking-testimonial .tg-item-overlay,
.tg-barking .tg-item-overlay,
.tg-barking-testimonial .tg-center-outer,
.tg-barking .tg-center-outer,
.tg-barking-testimonial .tg-center-inner > *,
.tg-barking .tg-center-inner > * {
  vertical-align: middle;
}
.tg-barking-testimonial .tg-item-overlay,
.tg-barking .tg-item-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 400ms ease !important;
  -moz-transition: all 400ms ease !important;
  -ms-transition: all 400ms ease !important;
  transition: all 400ms ease !important;
}
.tg-barking:not(.tg-force-play):not(.tg-is-playing) .tg-item-media-holder:hover .tg-item-overlay,
.tg-barking-testimonial:not(.tg-force-play):not(.tg-is-playing) .tg-item-media-holder:hover .tg-item-overlay {
  opacity: 1;
  visibility: visible;
}
.tg-barking-testimonial .tg-item-content-holder[data-position="bottom"],
.tg-barking .tg-item-content-holder[data-position="bottom"] {
  position: relative;
  min-height: 1px;
  display: block;
  padding: 22px 24px;
}
.tg-barking-testimonial div.tg-item-media-content,
.tg-barking div.tg-item-media-content {
  text-align: center;
}
.tg-barking-testimonial .tg-element-1,
.tg-barking .tg-element-1 {
  position: relative;
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  margin: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform: translate3d(100%,0%,0px);
  -moz-transform: translate3d(100%,0%,0px);
  -ms-transform: translate3d(100%,0%,0px);
  transform: translate3d(100%,0%,0px);
}
.tg-barking-testimonial .tg-item-media-holder:hover .tg-element-1,
.tg-barking .tg-item-media-holder:hover .tg-element-1 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

h2.tg-item-title.tg-element-3 {
  color: rgba(17, 67, 103, 1) !important;
  text-align: left;
}

.tg-item-content-holder a.semiLink {
  color: rgb(109, 86, 20) !important;
}

.tg-item-content-holder a.semiLink:hover {
  text-decoration: underline;
}

.tg-barking-testimonial p {
  color: #eae5b2 !important;
  margin-bottom: .5em !important;
}

.tg-barking p {
  margin-bottom: 1em !important;
}

.tg-barking p.button {
  margin-bottom: 0 !important;
}

.tg-barking-testimonial .tg-element-3,
.tg-barking .tg-element-3 {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 10px 0 0;
  position: relative;
  text-transform: uppercase;
}

.tg-barking-testimonial .tg-element-3 {
  color: #eae5b2;
  font-size: 17px;
  font-style: italic;
  font-weight: 300;
  text-align: right;
}

.tg-barking-testimonial .tg-element-3:before {
  content: "\2014";
}

.tg-barking-testimonial .tg-element-5,
.tg-barking .tg-element-5 {
  position: relative;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  display: block;
  margin: 0;
  padding: 18px 0;
}

#grid-48 .tg-item-content-holder {
    background-color: #eae5b2;
    border-radius: 0 0 12px 12px;
}

.tg-barking-testimonial .tg-item-content-holder {
  background-color: #114367 !important;
  border-radius: 12px;
}

.tg-barking-testimonial .tg-item-content-holder h2,
.tg-barking-testimonial .tg-item-content-holder {
  color: #eae5b2 !important;
}

.tg-layout-masonry .tg-item-inner, img.tg-item-image {
    border-radius: 12px 12px 0 0;
}
