/* RGB */
$color1: rgba(17, 67, 103, 1);
$color2: rgba(209, 223, 227, 1);
$color3: rgba(145, 191, 190, 1);
$color4: rgba(187, 148, 45, 1);
$color5: rgba(37, 63, 84, 1);
$color6: rgba(95, 106, 123, 1);

$color__background-body: $color2;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color1;
$color__link-visited: $color1;
$color__link-hover: midnightblue;
$color__text-main: $color5;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

